﻿
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - My ASP.NET App</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>

    <!-- Секция Header -->
    <header class="header">
        <div class="container">
            @if (IsSectionDefined("Header"))
            {
                @RenderSection("Header")
            }
            else
            {
                <!-- Header по умолчанию -->
                <div class="default-header">
                    <h1>@(ViewBag.HeaderTitle)</h1>
                    <nav class="nav-menu">
                        <a href="/Home/Index">Главная</a>
                        <a href="/Home/About">About</a>
                        <a href="/Home/Contact">Контакты</a>
                        <a href="/Home/ListCountries">Список стран</a>
                        <a href="/Home/VideoGallery">Видеогалерея</a>
                    </nav>
                </div>
            }
        </div>
    </header>

    <!-- Основное содержимое -->
    <div class="main-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <footer class="container">
        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            <span>© @DateTime.Now.Year - Мое приложение. Все права защищены.</span>
        }
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>