@* ViewData, ViewBag *@
@* ----------------- *@

@* @{
    ViewData["Title"] = "ViewData ASP.NET Core MVC";

    ViewBag.Title = "ViewBag.Title ASP.NET Core MVC";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Count: @ViewBag.People.Count</h2>
<ul>
    @foreach (string person in ViewBag.People)
    {
        <li>@person</li>
    }
</ul> *@



@* Модель представления *@
@* -------------------- *@

@model List<string>

<h2>Count: @Model.Count</h2>
<ul>
    @foreach (string person in Model)
    {
        <li>@person</li>
    }
</ul>