@* Типы конструкций Razor *@
@* ---------------------- *@

@* @{
    string head = "Hello AcademyTop!"; // определяем переменную head
    string text = "ASP.NET Core Application";   // определяем переменную text

    int i = 8;
    <text>@i</text>
}

<text>@(i + 1)</text>

<!DOCTYPE html>
<html>
<head>
    <title>METANIT.COM</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>@head</h2> <!-- используем переменную head -->
    <div>@text</div> <!-- используем переменную text -->

    <p>@@DateTime.Now =@DateTime.Now.ToLongDateString()</p>
</body>
</html> *@



@* Условные конструкции *@
@* -------------------- *@

@* Конструкция if-else: *@
@{
    string morning = "Good Morning";
    string evening = "Good Evening";
    string hello = "Hello";
    int hour = DateTime.Now.Hour;
}
@if (hour < 12)
{
    <h2>@morning</h2>
}
else if (hour > 17)
{
    <h2>@evening</h2>
}
else
{
    <h2>@hello</h2>
}


@* Конструкция switch: *@

@{
    string language = "german";
}
@switch (language)
{
    case "russian":
        <h3>Привет мир!</h3>
        break;
    case "german":
        <h3>Hallo Welt!</h3>
        break;
    default:
        <h3>Hello World!</h3>
        break;
}